[user]
	name = Achal Dave
	email = achalddave@live.com
[color]
    ui = auto
[alias]
    # lazy
    br  = branch
    ci  = commit
    co  = checkout
    cpi = cherry-pick
    df  = diff
    dfs = diff --cached # staged changed
    pl  = pull
    plr = pull --rebase
    ps  = push
    st  = status

    # pretty git log
    lg  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    
    # view changes, body of commits
    lga = whatchanged --graph \
--pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %b %Cgreen(%cr) %C(bold blue)<%an>%Creset\n\
What changed:\n============='

    # lga + notes
    lgan = whatchanged --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %b %Cgreen(%cr) %C(bold blue)<%an>%Creset\n\
Notes:\n======\n%N\n\
What changed:\n============='

    pushnotes = push origin refs/notes/*
[core]
	editor = vim
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
[push]
	default = current
[diff]
    algorithm = patience
