[user]
    name = Achal Dave
    email = achalddave@live.com

[color]
    ui = auto

[alias]
    # lazy
    br  = branch
    ci  = commit
    co  = checkout
    cpi = cherry-pick
    df  = diff
    dfs = diff --cached # staged changes
    pl  = pull
    plr = pull --rebase
    ps  = push
    st  = status -sb

    # pretty git log
    lg  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

    # view changes, body of commits
    lga = log --stat --graph \
--pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %b %Cgreen(%cr) %C(bold blue)<%an>%Creset'

    # lga + notes
    lgan = whatchanged --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %b %Cgreen(%cr) %C(bold blue)<%an>%Creset\n\
Notes:\n======\n%N\n\
What changed:\n============='

    pushnotes = push origin refs/notes/*

    # easy way to view which branches exist on one remote but not another and
    # vice versa
    brlist = !sh -c '_git_branch_list.sh "$@"' -
    stashgrep = !sh -c '_git_stash_grep.sh "$@"' -

[core]
    editor = vim
    attributesfile = ~/.gitattributes

[diff]
    tool = vimdiff
    algorithm = patience

[diff "astextplain"]
    textconv = astextplain

[merge]
    tool = vimdiff

[push]
    default = current

[github]
    user = achalddave
