[submodule "zsh/zgen"]
	path = zsh/zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "git/scripts/diff-so-fancy"]
	path = git/scripts/diff-so-fancy-repo
	url = https://github.com/so-fancy/diff-so-fancy.git
