[user]
	name = Achal
	email = achalddave@live.com
[colors]
	diff = auto
	status = auto
	branch = auto
[alias]
    st = status
    co = checkout
    ci = commit
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
